.center-border-line {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  border-left: 4px solid #fda4af;
  z-index: 1;
  height: 100% !important;
  top: 0 !important;
}

.center-logo {
  position: absolute;
  top: 80px;
  left: 50%;
  transform: translateX(-50%);
  width: 32px;
  height: 32px;
  background-color: #c6ff00;
  border: 4px solid #fda4af;
  border-radius: 50%;
  z-index: 10;
}

#container1, #container2 {
  min-height: 200px; 
  position: relative;
}

#services {
  overflow: hidden;
}

@media (min-width: 640px) {
  .center-border-line {
    left: 50%;
  }
}